.card {
	display: flex;
	border-radius: 20px;
	align-items: center;
	justify-content: space-between;
	width: 320px;
	background-color: #eee;
	padding: 20px;
	margin: 10px;
	top: 0;
	text-align: center;
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
	transition: all 0.35s ease 0s;
	position: relative;
}

.card:hover {
	top: -10px;
	cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png), auto;
}
.card:active {
	cursor: url(https://cdn.custom-cursor.com/db/250/32/arrow2282.png), auto;
}

.card > .card-image {
	display: flex;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin: 0 auto;
}

.card > .card-image > img {
	margin-top: 20px;
	max-width: 90%;
}

.card > .card-body {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 200px;
	padding: 1.25rem;
}

.card > .card-body > .card-number {
	background-color: rgba(0, 0, 0, 0.45);
	color: white;
	border-radius: 10px;
	padding: 5px 0px;
	width: 100px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 18px;
}

.card > .card-body > .card-name {
	margin: 15px 0 10px;
	font-weight: bolder;
	font-size: 25px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 1px #1b1b1b56;
}

.card > .card-body > .card-type,
.card-weight {
	text-align: start;
	margin: 0;
}
